:root {
    --bg-color: #fff;
    --card-bg-color: #fff;
    --card-border-color: #000;
    --text-color: #333;
}

.dark-mode {
    --bg-color: #1a1a1a;
    --card-bg-color: #333;
    --card-border-color: #b6b6b6;
    --text-color: #fff;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
